<article class="portfolio">
	<div class="project">
		<h1>Personal Fun Projects <%= render 'portfolio/pageNum' %></h1>
		
		
		
		<div id="lets_hang" class="active_page page-1 proj_desc">
			<%= image_tag '/assets/fun/letsHang.png', :class => "image"%>
			<p>A Threadless Greeting Card design challenge winner. I have an abnormal affinity for puns and am always tickled by subtle humor. </p>
		</div>
		<div id="" class="page-2 proj_desc">
			<%= image_tag '/assets/fun/roboDance.png', :class => "image"%>
			<p>Robot Dance Party: Here is a personal project that I started to improve my Illustrator skills. The featured robots may or may not be inspired by some of my friend's real dancing skills. ;-)</p>
		</div>
		
		<div id="" class="page-3 proj_desc">
			<p>I love rock climbing. I took every opportunity I could to combine it with my love for design. </p>
			<%= image_tag '/assets/fun/rockLobsters.png', :class => "image"%>
			<p>Rock Lobsters Banner: I created this for my bouldering team. Thanks to the motivation provided by this boulder-crushing lobster, we win the title of League Champions!</p>
		</br>
			<%= image_tag '/assets/fun/sheClimbs-1.png', :id => "sheClimbsBadge"%>
			<%= image_tag '/assets/fun/sheClimbs-pic.png', :class => "image"%>
			<p>SheClimbs Logo: SheClimbs is a nation-wide all women climbing group filled with the most awesome of ladies. I was asked to update their logo to something that captures the dynamism of the sport and its participants while being simple and clean enough to be clearly printed on a variety of items.</p>
		</div>
	</div>
</article>