<article class="portfolio">
	<div class="project">
		<h1>Mobile UI Design</h1>
		<p>The UIs featured here were created as part of a mobile UI design course that explored industry standards and design principles specific to restricted screen sizes.</p>
		<div id="page-1" class="ui_group active_page">
			<%= image_tag '/assets/mobileUI/i-light-rolo.png', :class=>"iphone"%>
			<%= image_tag '/assets/mobileUI/i-light-contact.png'%>
			<%= image_tag '/assets/mobileUI/i-fun-rolo.png'%>
			<%= image_tag '/assets/mobileUI/i-fun-contact.png'%>
		</div>
		<div id="page-2" class="ui_group">
			<%= image_tag '/assets/mobileUI/beta.png'%>
			<%= image_tag '/assets/mobileUI/beta2.png'%>
			<%= image_tag '/assets/mobileUI/beta3.png'%>
		</div>
		<div id="page-3" class="ui_group">
			<%= image_tag '/assets/mobileUI/lb1.png'%>
			<%= image_tag '/assets/mobileUI/lb2.png'%>
			<%= image_tag '/assets/mobileUI/lb3.png'%>
			<%= image_tag '/assets/mobileUI/lb4.png'%>
			<%= image_tag '/assets/mobileUI/lb5.png'%>
			<%= image_tag '/assets/mobileUI/lb6.png'%>
		</div>
	</div>
	<div class="page_num">
			<div class="page_link active_page_link" id="page_link-1"><a href="" >1</a></div>
			<div class="page_link" id="page_link-2"><a href="" >2</a></div>
			<div class="page_link" id="page_link-3"><a href="" >3</a></div>
	</div>
</article>