<article class="portfolio">
	<div class="project">
		<h1>Mobile UI Design <%= render 'portfolio/pageNum'%></h1>
		<p>These features UIs were created as part of a mobile UI design course that explored how to design and deliver UI that satisfy industry standards and user expectations.</p>
		<div id="" class="active_page page-1">
			<%= image_tag '/assets/mobileUI/i-light-rolo.png', :class=>"iphone"%>
			<%= image_tag '/assets/mobileUI/i-light-contact.png'%>
			<%= image_tag '/assets/mobileUI/i-fun-rolo.png'%>
			<%= image_tag '/assets/mobileUI/i-fun-contact.png'%>
		</div>
		<div id="climb_app" class="page-2">
			<%= image_tag '/assets/mobileUI/beta.png'%>
			<%= image_tag '/assets/mobileUI/beta2.png'%>
			<%= image_tag '/assets/mobileUI/beta3.png'%>
		</div>
		<div id="" class="page-3">
			<%= image_tag '/assets/mobileUI/lb1.png'%>
			<%= image_tag '/assets/mobileUI/lb2.png'%>
			<%= image_tag '/assets/mobileUI/lb3.png'%>
			<%= image_tag '/assets/mobileUI/lb4.png'%>
			<%= image_tag '/assets/mobileUI/lb5.png'%>
			<%= image_tag '/assets/mobileUI/lb6.png'%>
		</div>
	</div>
</article>