	<header id="site_head">
		
		<div class="header_cont"><!--useful to create the 960px limit-->
		<div class="name">
		<%= link_to 'TERESA TARN', 'home' %>
		</div>
		
<nav>
	<div class="nav_cont">
		<ul>
		<li><%= link_to 'HOME', 'home' %></li>
		<li><%= link_to 'ABOUT', 'about' %></li>
		<li><%= link_to 'PORTFOLIO', 'portfolio' %></li>
		<li><%= link_to 'CONTACT', '../contacts' %></li>
		</ul>
	</div>
</nav>
		
		</div>
	</header>